:root{
    --beige: #fffce5ff;
    --black: #000000ff;
    --white: #ffffffff;
    --tea-rose-red: #ffd4d4ff;
    --gray: #6b7d7dff;
    font-family: 'Roboto', sans-serif;
    --color-fondo: #f7e7ce;
    --chocolate: #7B3F00;

}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #f7e7ce;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    margin: 0;   
}

header{
    background-color: black;
    color: white;
    padding: 20px 10px 20px 20px  ;
    
}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: black;
    color: white;    
}
 

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    width: 100%;
}

.logo{
    width: 60%;
    justify-content: flex-start;
}

.fechas{
    font-size: 20px;
    justify-content: flex-end;
    padding-top: 25px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 35px 0 35px;
    
}
.menu{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 35px 35px 10px 35px; 
    color: white;
}

.titulo-newsletter{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    color: white;
}

.parrafo-newsletter{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: white;
}

.fin-newsletter{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: white;
}

.suscripcion-newsletter{
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.suscripcion-newsletter input{
    border-radius: 5px;
    width: 25%;
    color: white;
}

.suscripcion-newsletter button{
    border-radius: 5px;
    background-color: white;
    width: 10%;
    
}

.links-footer{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

.festival-footer{
    padding: 35px 100px 0px 35px;
    margin-left: 10px;
    color: white;
    font-size: 18px;
    
}

.ayuda-footer{
    padding: 35px 50px  0px 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 18px;
}

.social-footer{
    padding: 35px 35px 0px 100px;
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

.lista-footer{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.copyright{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    margin-bottom: 15px;
    opacity: 0.50;
    color: white;
}

.seccion1{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 100px 40px 100px 40px;
}

.seccion1 h1{
    font-size: 45px;
    padding-bottom: 30px;
}

.seccion1 h2{
    font-size: 25px;
    padding-bottom: 15px;
}

.videos-youtube{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.videos-youtube iframe{
    padding: 25px;
    border: 5px solid gray;
    margin: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.seccion2{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.boton-spotify {
    display: inline-block;
    padding: 60px 120px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #1db954;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.main-flyer{
   text-align: center;
    margin: 50px;
}

.main-flyer h1{
    font-size: 45px;
    padding-bottom: 30px;
}

.flyer{
    width: 60%;
    border: 20px solid gray;
    margin: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.ubicacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 35px;
    padding: 10px;    
}

.ubicacion h1{
    font-size: 45px;
    padding-bottom: 30px;
}

.ubicacion iframe{
    padding: 25px;
    border: 5px solid gray;
    margin: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.info-show{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 35px;
    padding: 10px;   
}

.info-show h1{
    font-size: 45px;
    padding-bottom: 30px;
    margin-top: 35px;
}

.info-show ul{
    margin: 25px;
    padding: 15px;
    font-size: 20px;
}

.info-show li{
    padding: 5px;
}

.foto-info-show{
    width: 25%;
    padding: 25px;
    border: 5px  ;
    margin: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.foto-lista{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 25px;
}

.permitidos-no{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 50px 140px 60px 150px;    
}

.permitidos-no h1{
    font-size: 30px;
    padding-bottom: 30px;
    margin-top: 25px;
}

.permitidos-no ul{
    margin: 25px;
    padding: 15px;
    font-size: 20px;
}

.permitidos-no li{
    padding: 5px;
}

.tablas-permitidos{
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 15px;
    font-size: 20px;
}

.tablas-no-permitidos{
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 15px;
    font-size: 20px;
}

.seccion1-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 25px;
    padding: 10px;   
}

.seccion1-main h1{
    font-size: 45px;
    padding-bottom: 30px;
    margin-top: 35px;
}

.seccion1-main img{
    /* justify-content: center; */
    /* flex-direction: row; */
    width: 18%;
    padding: 25px;
    border: 5px  ;
    margin: 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.seccion2-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 25px;
    padding: 10px;   
}

.seccion2-main h1{
    font-size: 45px;
    padding-bottom: 30px;
    margin-top: 35px;
}

.seccion2-main img{
    
    width: 18%;
    padding: 25px;
    border: 5px  ;
    margin: 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.seccion3-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 25px;
    padding: 10px;   
}

.seccion3-main h1{
    font-size: 45px;
    padding-bottom: 30px;
    margin-top: 35px;
}

.seccion3-main img{
    /* justify-content: center; */
    /* flex-direction: row; */
    width: 18%;
    padding: 25px;
    border: 5px  ;
    margin: 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}


.seccion1-tickets{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    margin: 25px;
    padding: 10px;   
}

.seccion1-tickets h1{
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    padding-bottom: 30px;
    margin-top: 35px;
}

.box-tickets{
    background-color: white;
    border: 3px solid gray;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
    text-align: center;  
    width: 35%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    
}

.box-tickets-vip{
    background-color: white;
    border: 3px solid gray;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
    text-align: center;
    width: 35%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}