.main-flyer{
    text-align: center;
    margin: 10px;

    h1{
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;    
    }
}
 
.flyer{
    width: 60%;
    border: 5px solid $gray;
    margin: 20px;

    &:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    }
}


.animacionLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.animacionLogo img{
    width: 25%; 
    animation: rotateLogo 2s infinite linear; 
}

@keyframes rotateLogo {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
}