<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Festival de Musica LeFleur 2023, Buenos Aires, Argetina">
    <meta name="keywords" content="Festival, Musica, LeFleur, 2023, Buenos Aires, Argetina">
    <title>Informacion</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/estilos.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark " data-bs-theme="dark" >
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/My project-3.png" alt="Logo le fleur" class="logo" width="40%">
                </a>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse justify-content-end ms-4" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link menu" href="./lineup.html">Lineup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="./info.html">Información</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="./sponsors.html">Sponsors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="./tickets.html">Tickets</a>
                    </li>
                    </ul>
                </div>

                <div class="navbar-text ml-auto">
                    <div class="fechas">9 y 10 de Noviembre, 2023<br>Hipódromo de San Isidro</div>
                </div>

            </div>
        </nav>

    </header>
    <section class="banner">
        <img src="../img/banner5.jpg" alt="banner evento" width=100%%>
        <p></p>
    </section>
    
    <main class="main-de-info">
        <div class="ubicacion">
        <h1>Ubicación</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.880203594699!2d-58.5229409846791!3d-34.48056315849942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb040d363f587%3A0x78e513cecbc25f7f!2sHip%C3%B3dromo%20de%20San%20Isidro!5e0!3m2!1ses!2sar!4v1680554921365!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="info-show">
            <h1>Información del Show</h1>
            <div class="foto-lista">
            <img src="../img/info-polaroid1.jpg" alt="info-polaroid" class="foto-info-show">
                <ul>
                    <li>Le Fleur Music Festival 2023 sera llevado a cabo el 9 y 10 de Noviembre en el Hipodromo de San Isidro, Buenos Aires. </li>
                    <li>Todas las edades son bienvenidas. Los menores de 5 años entran gratis.</li>
                    <li>El evento se lleva a cabo, llueva o haya sol.</li>
                    <li>El lineup esta sujeto a cambios.</li>
                    <li>El evento comienza a las 12.00 horas, los dos dias. Los espectadores pueden ingresar al predio desde las 10.00 de la mañana.</li>
                    <li>No esta permitido salir y reingresar al predio.</li>
                </ul>
            </div>
        </div>

        <section>
                    
            <div class="accordion" id="permitidos-no">
                <div class="accordion-item">
                <h2 class="accordion-header" id="permitidos-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#permitidos-collapse" aria-expanded="true" aria-controls="permitidos-collapse">
                    Elementos Permitidos
                    </button>
                </h2>
                <div id="permitidos-collapse" class="accordion-collapse collapse show" aria-labelledby="permitidos-header" data-bs-parent="#permitidos-no">
                    <div class="accordion-body">
                    <ul>
                        <li>SÍ Disfraces* (sin máscaras o armas de juguete/ réplicas)</li>
                        <li>SÍ Mochilas (medianas)</li>
                        <li>SÍ Binoculares</li>
                        <li>SÍ Cigarrillos (sin abrir)</li>
                        <li>SÍ Bálsamo labial</li>
                        <li>SÍ Cámaras digitales (no profesionales)</li>
                        <li>SÍ Cámaras desechables</li>
                        <li>SÍ Tapones para los oídos</li>
                        <li>SÍ Botellas de plástico vacías y Camelbaks (64 oz o menos)</li>
                        <li>SÍ Riñoneras</li>
                        <li>SÍ Cámaras de película (no profesionales)</li>
                        <li>SÍ GoPros (sin palos/prolongaciones)</li>
                        <li>SÍ Chicle</li>
                        <li>SÍ Sombreros</li>
                        <li>SÍ Inhaladores</li>
                        <li>SÍ Encendedores</li>
                        <li>SÍ Maquillaje</li>
                        <li>SÍ Cámaras Polaroid</li>
                        <li>SÍ Pilas recargables</li>
                        <li>SÍ Bolsos de un solo compartimento</li>
                        <li>SÍ Bolsos pequeños (20 "x20" o menos)</li>
                        <li>SÍ Linternas pequeñas (5 ")</li>
                        <li>SÍ Protector solar (no en aerosol)</li>
                        <li>SÍ Vapes / E-Cigs</li>
                        <li>SÍ Walkie-Talkies</li>
                        <li>SÍ Botellas de agua (solo plástico)</li>
                        <li>Las máscaras, armas de juguete / réplicas de cualquier tipo (espadas, armas, esposas, etc.) o cualquier otra parte de un disfraz que esté en la lista de artículos prohibidos no se permitirán en el lugar. Además, tenga consideración con otros invitados en el espectáculo, si alguna parte de su disfraz impide o bloquea la vista de otros invitados, se le puede pedir que se quite esa parte del disfraz o que se traslade.</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            <!-- Acordeón de elementos no permitidos -->
            <div class="accordion" id="no-permitidos">
                <div class="accordion-item">
                <h2 class="accordion-header" id="no-permitidos-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#no-permitidos-collapse" aria-expanded="false" aria-controls="no-permitidos-collapse">
                    Elementos NO Permitidos
                    </button>
                </h2>
                <div id="no-permitidos-collapse" class="accordion-collapse collapse" aria-labelledby="no-permitidos-header" data-bs-parent="#no-permitidos">
                    <div class="accordion-body">
                    <ul>
                        <li>NO Dispositivos de grabación de audio</li>
                        <li>NO Globos, pelotas, pelotas inflables, frisbees</li>
                        <li>NO Bicicletas</li>
                        <li>NO Mantas o toallas de playa (excluyendo el paquete VIP)</li>
                        <li>NO Armaduras corporales</li>
                        <li>NO Bolsas para vino</li>
                        <li>NO Cinta / cuerda de precaución</li>
                        <li>NO Cadenas / Carteras con cadena</li>
                        <li>NO Sillas</li>
                        <li>NO Refrigeradores</li>
                        <li>NO Botellas de vidrio</li>
                        <li>NO Máscaras</li>
                        <li>NO Signos personalizados</li>
                        <li>NO Drogas o parafernalia de drogas (incluyendo marihuana medicinal)</li>
                        <li>NO Drones, aviones, juguetes o coches de control remoto</li>
                        <li>NO Fuegos artificiales / explosivos / líquidos inflamables</li>
                        <li>NO Banderas</li>
                        <li>NO Carritos de golf, buggies de dunas, scooters electrónicos/motorizados</li>
                        <li>NO Hoverboards, Segways, ruedas de autoequilibrio</li>
                        <li>NO Grandes nebulizadores</li>
                        <li>NO Punteros láser</li>
                        <li>NO Guantes LED, aros hula hoop o bastones luminosos</li>
                        <li>NO Botellas de agua de metal, acero, aluminio o vidrio</li>
                        <li>NO Instrumentos musicales</li>
                        <li>NO Comida o bebida de fuera</li>
                        <li>NO Mascotas</li>
                        <li>NO Cámaras / cámaras de video profesionales</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
  
  
        </section>

    </main>

    <footer>
        <div>
            <div class="newsletter">
                <h1 class="titulo-newsletter">Dejanos tu email para enterarte de todo.</h1>
                <p class="parrafo-newsletter">Inscribite al Newsletter de Le Fleur y enterate de las últimas noticias y actualizaciones que necesitas saber.</p>
                <p class="fin-newsletter">¿Qué estás esperando?</p>
                <form class="suscripcion-newsletter">
                    <input type="email" placeholder="Ingresa tu e-mail" class="mail">
                    <button>Suscribirse</button>
                </form>
            </div>
            <div class="links-footer">
                <div class="festival-footer">
                    <h1 class="festival">Festival</h1>
                    <ul type="none" >
                        <li><a href="../views/tickets.html" class="lista-footer">Tickets</a></li>
                        <li><a href="../views/sponsors.html" class="lista-footer">Sponsors</a></li>
                        <li><a href="../index.html" class="lista-footer">Prensa</a></li>
                    </ul>
                </div>
                <div class="ayuda-footer">
                    <h1 class="ayuda">Ayuda</h1>
                    <ul type="none" >
                        <li><a href="../index.html" class="lista-footer">Contacto</a></li>
                        <li><a href="../views/info.html" class="lista-footer">Información</a></li>
                    </ul>
                </div>
                <div class="social-footer">
                    <h1 class="social">Social</h1>
                    <ul type="none" >
                        <li><a href="../index.html" class="lista-footer">Instagram</a></li>
                        <li><a href="../index.html" class="lista-footer">Facebook</a></li>
                        <li><a href="../index.html" class="lista-footer">Twitter</a></li>
                        <li><a href="../index.html" class="lista-footer">Youtube</a></li>
                        <li><a href="../index.html" class="lista-footer">Spotify</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <p class="copyright">Copyright © 2023 LeFleur GW LLC</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>